html{
	/*a cada 1rem - 10px*/
	font-size: 62,5%;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background-color: black;
}

header{
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	z-index: 100; /*Ordem do elemento na profundidade (quanto maior, mais a frente...)*/
		transition: background-color 1s ease-in-out;/*Transição do header*/
}

.titulos{
	font-family: 'Playfair Display', serif;
	padding: 90px 0 40px 0;
	color: white;
	text-transform: uppercase;
	font-size: 3.0rem;
	text-align: center;
	z-index: 1;
}

.textos{
	font-family: 'Playfair Display', serif;
	width: 1000px;
	color: white;
	padding: 10px 0 10px;
	font-size: 1.4rem;
	text-align: center;
	z-index: 1;
}

.textos-menores{
	font-family: 'Playfair Display', serif;
	color: white;
	padding: 10px 0 0;
	font-size: 1rem;
	text-align: center;
	z-index: 1;
}

.changeStyle {
	background-color: rgba(0, 0, 0, 0.2); /*Muda a cor do header ao scrollar*/
}

.changeStyle + .titulo-header + nav a {
	color: black;
}
 
.caixa-header{
	position: sticky;
	padding: 10px 0 10px 0;
	justify-content: center;
	align-items: center;
	height: 40px;
	top: 0px;
}

.titulo-header{
	text-decoration: none;
	position: absolute;
	color: white;
	font-family: 'Parisienne', cursive;
	font-size: 1.5rem;
	padding: 5px 0;
	top: 10px;
	left: 30px;
	transition: .6s;
}

nav{
	position: relative;
	font-family: 'Playfair Display', serif;;
	top: 3px;
	margin: 0 auto;
	text-align: center;
	padding: 7px 0 7px 0;
}

nav li{
	display: inline;
	margin: 0 0 0 12px;
}

nav a{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
	text-decoration: none;
}

#title-sobreMim:hover{
	color: black;
}

#title-educacao:hover{
	color: #000080;
}

#title-habilidade:hover{
	color: rgba(189, 0, 69, 1);
}

#title-experiencia:hover{
	color: #FF4500  ;
}

#title-interesse:hover{
	color: #006400 ;
}

a{
	transition: .8s;
}

.logos-header{
	position: absolute;
	top: 15px;
	right: 30px;
	padding: 5px 0;
}

.logos-header a{
	padding: 0 5px;
}

.fa-discord, .fa-instagram, .fa-github, .fa-linkedin, .fa-whatsapp, .fa-envelope{
	font-size: 1.2rem;
	color: white;
	transition: .3s;
}

.fa-discord:hover, .fa-instagram:hover, .fa-github:hover, .fa-linkedin:hover, .fa-whatsapp:hover, .fa-envelope:hover{
	transform: scale(125%);
}
/*--------------------------Incio Caixa sobre mim--------------------------*/

.caixa-sobremim{
	height: 100vh;
	width: 100vw;	
	overflow: hidden;
	position: absolute;
	top:0;
	margin: 0;
	left: 50%;
	transform: translate(-50%);
}

.conteudo-sobremim{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%) ;
	z-index: 99;
	font-family: 'Playfair Display', serif;
	justify-content: center;
	align-items: center;
}

.navegação{
	width: 100%;
	justify-content: center;
	position: absolute; /*Qualquer lugar da tela/elemento pai*/
	bottom: 7%;
	left: 50%;
	transform:translate(-50%) ;
	display: flex;
}

#titulo-hello{
	text-align: center;
}

.bar{
	width: 40px;
	height: 17px;
	border: 1px solid #fff;
	margin: 6px;
	border-radius: 3px;
	cursor: pointer;
	transition: 2s;
}

.bar:hover{
	background-color: #fff;
	border: 1px solid #fff;
}

.bar:active{
	background-color: #fff;
	transform: scale(%50);
}

input{
	display: none;
}

.caixa-slides{
	height: 100vh;
	width: 100%;
	display: flex;
	width: 500%;
	height: 100%;
}

.slide{
	position: relative;
	width: 20%;
	transition: .6s;
}

.slide video{
	width: 100%;
	z-index: -99;/*ADD DPS*/
}

.legenda-slide{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titulo-colorido{
	font-size: 4.0rem;
	text-align: center;
	display: inline-block;
}

#titulo-color1{
	color: #3fff00;
}

#titulo-color2{
	color: #cb006e;
	text-transform: uppercase;

}

#titulo-color3{
	color: #e74103;
	text-transform: uppercase;
}

#titulo-color4{
	color: yellow;
}

.slide img{
	position: absolute;
	top: 160px;
}

#slide1:checked ~ .s1{
	margin-left: 0;
}

#slide2:checked ~ .s1{
	margin-left: -20%;
}
#slide3:checked ~ .s1{
	margin-left: -40%;
}

#slide4:checked ~ .s1{
	margin-left: -60%;
}

#slide5:checked ~ .s1{
	margin-left: -80%;
}

/*____________________________Inicio Educação________________________________*/

.caixa-educacao{
	background-color: #35d3e3;
	position: relative;
	top: 650px;
	height: 680px;
}
.formacao-academica h3, .Projetos h3, .Empregos h3, .Cursos h3{
	font-size: 1.1rem;
	margin: 5x 0;
}

.grid-cursos{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	padding: 5px;
	margin: 0 auto;
	gap: 10px;  
	text-align: center;
}
.item-curso{
	padding: 10px 5px;
	text-transform: uppercase;
	color: #000080;
	background-color: none;
	border: 1px solid #000080;
	width: 18.6em;
	height: auto;
}

.item-curso:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, .1);
}

.formacao-academica, .Cursos{
	width: 60em;
	margin: 0 auto ;
	height: auto;
	right: auto;
	padding: 5px 0;
}

.titulo-item-curso{
	font-size: 0.8rem;
	text-transform: uppercase;
	text-align: center;
	top: 1em;
}

.descricao-item-curso{
	text-transform: none;
	color: black;
	font-size: 0.8rem;
	text-align: left;
	top: 0.4em;
}

.formacao-academica li{
	display: inline-block;
	background-color: black
	color: black;
	text-align: center;
	width: 32%;
	height: 200px;
	vertical-align: top;
	margin: 0.5%;
	box-sizing: border-box;
	border: 1px solid #000080;
	transition: 0.8s;
}

.formacao-academica li:hover{
	border: 0;
	background-color: rgba(0,0,128, .8);
}

.formacao-academica li:hover h2{
	font-size: 1.7rem;
}

#educacao{
	color: #000080;
}

.titulo-educacao, .formacao-academica h3, .Cursos h3 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	color: #000080;
	font-weight: bold;
	padding: 10px 5px 0;
}

.titulo-educacao{
	font-size: 1rem;
}

.subtitulo-educacao{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	color: black;
	font-size: 0.8rem;
	padding: 4px 5px 5px;
}

.educacao-descricao{
	position: sticky;
	bottom: 5px;
	font-family: 'Playfair Display', serif;
	text-align: left;
	color: black;
	font-size: 1.2rem;
	padding: 5px 3%;
	
}

.formacao-academica li:hover .subtitulo-educacao, .formacao-academica li:hover .educacao-descricao {
	color: white;
}

.formacao-academica li:hover .titulo-educacao{
	transform: scale(110%);
	color: #9bf6ff;
}

#descricao1{
	padding: 37px 0 7px ;
}

#descricao2{
	padding: 5px 0 10px;
}

#descricao3{
	padding: 25px 0 7px;
}

.caixa-escondida{
	display: none;
}

.mostra-caixa-garotas, .mostra-caixa-garotas p, .mostra-caixa-cisco, .mostra-caixa-cisco p, .mostra-caixa-jovens, .mostra-caixa-jovens p{
	text-transform: none;
	font-weight: none;
	display: block;
	color: black;
	width: 18em;
	padding: 5px 5px;
	font-size: 1rem;

}

/*________________________________Inicio das Habilidades_______________________*/

.caixa-habilidades{
	height: 700px;
	background-color: #fdb6d2;
	position: relative;
	top: 650px;
}

#title-habilidades{
	color: rgba(189, 0, 69, 1);
}

.logos-habilidades{
	padding: 0  80px;
	text-align: center;
}

.grid-container {
	display: block;
	padding: 5px;
	margin: 0 auto ;
	gap: 50px;  
}

#conteiner-a, #conteiner-b{
	display: none;
}

.mostraB, .mostraA{
	display: none;
}

.grid-container-soft {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	padding: 5px;
	margin: 20px auto ;
	gap: 10px;  
}

.caixa-btn-grid{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	padding: 5px;
	margin: 0 auto;
	gap: 30px;  
	text-align: center;
}

.btn-grid-item{
	width: 200px;
	border: 1px solid #000;
}

.grid-item, .btn-grid-item{
	font-family: 'Playfair Display', serif;
	color: black;
	text-transform: uppercase;
	padding: 10px;
	margin: 0 auto;
	gap: 300px 300px;
	text-align: center;
	transition: .6s;
}

.grid-item{
	width: 180px;
	border: 1px solid rgba(189, 0, 69, 1);
}

.grid-item p {
	padding: 5px;
	font-weight: bold;
}

.btn-grid-item:hover{
	cursor: pointer;
	background-color: rgba(189, 0, 69, 1);
	border: none;
	bottom: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	transform: scale(120%);
}

.fa-users-line, .fa-puzzle-piece{
	position: relative;
	padding: 10px;
	color: rgba(189, 0, 69, 1);
	font-size: 3.5rem;
}

.btn-grid-item:hover .fa-users-line, .btn-grid-item:hover .fa-puzzle-piece, .btn-grid-item:hover p{
	position: relative;
	padding: 10px;
	color: #fff;
	transform: scale(110%);
}

/*________________________________Inicio Caixa Experiencias_________________________________*/

.caixa-experiencia{
	text-align: center;
	background-color: #ffe27f;
	position: relative;
	top: 650px;
	height: 700px;
	width: 100%;
}

#title-experiencias{
	color: #FF4500 ;
}

.Projetos{
	display: inline-block;
	width: 80%;
	margin: 10px 10px;
}

.Projetos h3{
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	color: 	#FF4500;
	margin: 0;
	text-align: left;
	font-weight: bold;
	padding: 10px 20% 0;
}

.Empregos h3{
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	color: 	#FF4500;
	margin: 0;
	text-align: left;
	font-weight: bold;
	padding: 10px 26% 0;
}

.grid-projeto{
	display: inline-grid;
	grid-template-columns: auto auto auto;
	padding: 5px;
	margin: 0 auto;
	gap: 10px;  
	text-align: center;
}

.item-projeto{
	padding: 50px 70px;
	text-transform: uppercase;
	color: orangered;
	background-color: none;
	border: 1px solid rgba(255 ,69 ,0, 1);
}

.item-projeto:hover{
	background-color: rgba(255, 255, 255, .2);
	color: black;
}

.Empregos{
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.item-emprego{
	transform: translate(48%);
	margin: 5px 0 0 0;
	padding: 7px;
	width: 49.8%;
	color: black;
	border: 1px solid rgba(255 ,69 ,0, 1);
}

.item-emprego h5{
	padding: 5px 5px 10px;
	color: orangered;
	text-transform: uppercase;
}

.item-emprego p{
	padding: 5px;
	text-align: left;
}

/*________________________________Inicio Caixa Interesses_________________________________*/

.caixa-interesses{
	background-color: #95f780;
	top: 650px;
	height: 700px;
	width: 100%;
	position: relative;
}

#title-interesses{
	color: #006400;
}

.caixa-itens-interesses li{
	display: inline-block;
	color: green;
	font-size: 1.3rem;
	font-weight: bold;
	margin: 2em 5.5em 0 ;
	padding: 5px;
	top: 4px;
	text-transform: uppercase;
	text-align: center;
	width: 10em;
	height: 1em;
}

#menu-interesses{
	margin: 0 auto;
	text-align: center;
}

#caixa-grid-interesses{
	display: inline-grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 100%;
	padding: 10px 0 10px;
	margin: 0 auto;
	gap: 10px;  
	text-align: center;

}

#caixa-filmes-e-series, #caixa-musicas, #caixa-livros{
	display: inline-block;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
	gap: 5px;  
	text-align: center;
}

.filme, .musica, .livro{
	margin: 5px 5px 0 5px;
	display: inline-block;
	/*display: none;*/
}

.musica, .filme, .livro{
	cursor: pointer;
	padding: 5px 0 0;
}

.musica img, .filme img, .livro img{
	filter: brightness(0.2);
	margin: 0 auto;
	transition: .3s;
}

.musica img:hover, .filme img:hover, .livro img:hover{
	filter: brightness(1.0);	
}

/*________________________________Inicio Footer_________________________________*/

footer{
	position: relative;
	background-color: black;
	top: 650px;
	height: auto;
}

footer h3{
	color: white;
	font-family: 'Playfair Display', serif;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 1.2rem;
	left: 150px;
}

.titulo-footer{
	text-align: left;
	color: white;
	margin: 0 10em 0 5em;
	display: inline-block;
	font-size: 2rem;
	padding: 5%;
	font-family: 'Parisienne', cursive;
}

.caixa-meio-de-contato{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	position: relative;
	top: 30px;
}

.caixa-copyright{
	text-align: center;
	margin: 1em 0 1.9em 0;
	display: block;
	color: white;
}

.caixa-copyright p {
	font-size: 1.2rem;
	padding: 0 0 20px 0;
}

.logos-meiodecontato{
	left: 50%;
	transform: translate(-50%);
	position: relative;
	padding: 10px 0 10px;
}

.logos-meiodecontato a{
	padding: 0 5px;
}

@media screen and (max-widht: 768px){}




@media screen and (max-widht: 630px){}
@media screen and (max-widht: 540px){}
@media screen and (max-widht: 320px){}
